  * {
      color: rgb(21, 241, 131);
  }
  
  .cloud {
      background-color: aqua;
      background-image: url(Babys.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .text-white {
      /* class */
      color: rgb(78, 11, 236);
  }
  
  .cloud h1 {
      color: blueviolet;
      color: white;
  }
  
  .cloud p {
      font-size: 30px;
      color: white;
  }
  
  #cloud {
      /* id */
      background-color: blueviolet;
      color: aqua;
  }
  
  .cloud img {
      margin-top: 150px;
  }
  
  .cloud button {
      background-color: white;
      border-style: dotted;
      border-top: solid;
      border-bottom: solid;
      border-width: 5px;
      border-radius: 15px;
  }
  
  .cloud h1 {
      background-color: rgb(78, 10, 236);
      border-style: dotted;
      border-top: solid;
      border-bottom: solid;
      border-width: 5px;
      border-radius: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
  }